<h1>Home</h1>

<%= link_to "Sign up as guest", guests_path %>
<%= link_to "Sign up as host", hosts_path %>
<%= link_to "Create a listing", listings_path %>
<%= link_to "Create a booking", bookings_path  %>
