<div class="row navigation-bar">
  <div class="row navigation-bar_left">
    <li><h1 class="logo"><%= link_to 'A', root_path %></h1></li>
    <li><input class="navigation-bar_search" type="search" placeholder="Try 'Orlando'..."></input></li>
  </div>
  <div class="row navigation-bar_right">
    <nav class="row navigation-bar_pages">
      <li>Become a host</li>
      <li>Saved</li>
      <li>Trips</li>
      <li>Messages</li>
      <li>Help</li>
      <li><img src="http://lorempixel.com/400/400/people/" alt="avatar" class="avatar avatar-small"></li>
    </nav>
  </div>
</div>
